.banner_planfy{
  height: 75vh;
  width: 100%;
  background-image: url(/banner.png);
  background-position: center;
  background-size: cover;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner_title{
   
}